force-app/main/default/flows/Create_Account_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Password</name>
        <label>Set Password</label>
        <locationX>176</locationX>
        <locationY>926</locationY>
        <actionName>SetPasswordAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>password</name>
            <value>
                <stringValue>Salesforce1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>user.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_values_for_PermsetAssignment</name>
        <label>Assign values for PermsetAssignment</label>
        <locationX>176</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>PermsetAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>user.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermsetAssignment.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PermSet.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PermsetAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_User</name>
        <label>Assign values for User</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>user.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Europe/Copenhagen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>da</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>da_DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Alias</name>
        <dataType>String</dataType>
        <expression>Right(substitute(Text(now()), &quot;:&quot;, &quot;&quot;), 8)</expression>
    </formulas>
    <interviewLabel>Create Account User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PermsetAssignment</name>
        <label>Create PermsetAssignment</label>
        <locationX>176</locationX>
        <locationY>818</locationY>
        <connector>
            <targetReference>Set_Password</targetReference>
        </connector>
        <inputReference>PermsetAssignment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>176</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Assign_values_for_PermsetAssignment</targetReference>
        </connector>
        <inputReference>user</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_for_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PermSet</name>
        <label>Get PermSet</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JWT Flow Preapproved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PermSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partnership User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Profile</targetReference>
        </connector>
        <object>Create_Account_User__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PermsetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
